*{
	margin:0;
	padding:0;
}

body
{
  width: 867px;
  margin: 0 0 0 15px;
	font-size: 62.5%; /*  Sets 1em to 10px */
	font-family: "Helvetica Neue", Helvetica, "Frutiger", "Univers" Arial, Verdana, sans-serif;
	line-height:1.8em;
}

.header h1
{
  color: #ffffff;
  font-size:2.5em;
  display:inline;
}
.header h2
{
  color: #ffffff;
  font-weight:normal;
  padding-left:10px;
  display:inline;
}

.container
{
  float: right;
  width: 705px;
  padding-left: 15px;
  margin: 0 auto;
}

.content
{
  width: 900px;
}

.header
{
  width: 700px;
  background: #000000;
  background-repeat: no-repeat;
  margin: 15px 0;
  padding-top:35px;
}

.article
{
  width:225px;
  height:400px;
  border:1px solid;
  float:left;
  margin-right:10px;
}

.article h2
{
  width:220px;
  color:#ffffff;
  padding-left:5px;
}

.article.positive h2
{
/*  color:#cfea2b;*/
  background:#608913;
}
.article.negative h2
{
/*  color:#fd5308;*/
  background:#DB1818;
}
.article.neutral h2
{
  color:#adadad;
}

.article h3
{
  margin-top: 15px;
  font-size: 1.3em;
  padding-left:10px;
}

.article h4
{
  margin:15px 0 0 5px;
  font-size: 1.2em;
  display: inline;
  font-weight:normal;
}

.article p
{
  font-size:1.4em;
  font-family:"Times";
  padding:5px 10px 0 10px;
}

/*used for related article links*/
.article a
{
  font-size:1.3em;
  padding:15px;
}

.article ul
{
  list-style: none;
  font-size:1.3em;
  margin:0 0 15px 15px;
  
}

.article li
{
  display:inline;
  margin-right:10px;
  color:#3b4fbf;
}

.article li span
{
  color:#272c8c;
}

.blogPositive a
{
    padding-left:5px;
}

.blogPositive h4
{
/*  color:#F0E88E;*/
  color:#ffffff;
  font-weight:bold;
  background-color:#608913;
  margin-left:15px;
}


.blogNegative a
{
/*  background-color:#DB1818;*/
    padding-left:5px;
}

.blogNegative h4
{
  color:#ffffff;
  font-weight:bold;
  background-color:#DB1818;
  margin-left:15px;
}

.blogNeutral
{
  background-color:#adadad;
}

